/*Home*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

/* Navigation bar */

.container {
  margin: auto;
  max-width: 1400px;
  overflow: auto;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: auto;
  background: #b1301f;
  color: #b1301f;
  border-bottom: #fff solid 2px;
  z-index: 1;
}

#navbar h1 {
  padding: 10px 10px;
  float: left;
  color: #fff;
}

#navbar ul {
  float: right;
  list-style: none;
  padding-right: 50px;
}

#navbar ul a {
  display: inline-block;
  padding: 20px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

#navbar ul a:hover {
  background: #ce3c29;
}

#recipe-img {
  background: url("../img/bunch-food-fresh-349609.jpg") no-repeat center
    center/cover;
  position: static;
  height: 880px;
}

#recipe-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: space-around;
  width: 80%;
  padding-top:6%;
}

.recipe-container {
  width: 260px;
  border: 3px solid rgba(255, 0, 0, 0.171);
  border-radius:5%;
  text-align: center;
  font-size: 16px;
  margin:2%;
  background:whitesmoke;
}
.recipe-title {

}
.recipe-image {
  width: 150px;
  height: 30%;
}
