/*Home*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

/* Navigation bar */

.container {
  margin: auto;
  max-width: 1400px;
  overflow: auto;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: auto;
  background: #b1301f;
  color: #b1301f;
  border-bottom: #fff solid 2px;
  z-index:1;
}

#navbar h1 {
  padding: 10px 10px;
  float: left;
  color: #fff;
}

#navbar ul {
  float: right;
  list-style: none;
  padding-right: 50px;
}

#navbar ul a {
  display: inline-block;
  padding: 20px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

#navbar ul a:hover {
  background: #ce3c29;
}

/* Search Bar */

#find-recipe {
  display: inline-block;
  position: relative;
  width:20%;
  height: 40px;
  left: 35%;
  top: 40%;
  background-color: transparent;
  z-index:0;
}
#find-recipe:hover {
  display: inline-block;
  position: relative;
  width:20%;
  height: 40px;
  left: 35%;
  top: 40%;
  background-color:white;
}

#search-recipe {
  position:relative;
  top:40%;
  left:35%;
  width:70px;
  height: 40px;
  background:#b1301f;
}
#search-recipe:hover {
  position:relative;
  top:40%;
  left:35%;
  width:70px;
  height: 40px;
  background: #ce3c29;
  cursor: pointer;
}

/* Search Decoration */
#search-img {
  background: url("../img/bowl-cuisine-delicious-1640773.jpg") no-repeat center
    center/cover;
  height: 600px;
}
