/* Sign up */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b1301f;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  line-height: 1.8;
}

#container {
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
}

.form-wrap {
  background-color: #fff;
  padding: 15px 25px;
  color: #333;
  border-radius: 5px;
}

.form-wrap h1,
.form-wrap p {
  text-align: center;
}

.form-wrap .form-group input {
  padding: 10px;
  width: 100%;
  border: #ddd 1px solid;
  border-radius: 5px;
}

.form-wrap button {
  margin: 0 auto;
  border: #ddd 1px solid;
  border-radius: 5px;
  font-size: 18px;
  display: block;
  padding: 10px;
  margin-top: 20px;
  width: 50%;
  color: #fff;
  cursor: pointer;
  background-color: #b1301f;
}

.form-wrap button:hover {
  background: #c73f2d;
  color: #d8d7d6;
}