/*Home*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}


/* Navigation bar */

.container {
    margin: auto;
    max-width: 1400px;
    overflow: auto;
}

a {
    color: #fff;
    text-decoration: none;
}

h1 {
    padding: 20px 20px;
}

#navbar {
  overflow: auto;
  background: #b1301f;
  color: #b1301f;
}

#navbar h1 {
    float: left;
    color: #fff;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul a {
    display: inline-block;
    padding: 20px;
    text-align: center;
}



#find-recipe {
  display: inline-block;
  position: relative;
  height: 30px;
  left: 50px;
  top: 50px;
}


